/*
=============                     
Global Styles            
=============
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.comfortaa-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.gabarito-font {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url('../images/background.png');
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Comfortaa", sans-serif;
    overflow: hidden;
}

#page-login {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --dark-pink: #E51852;
    --light-pink: #FFE2EA;
    --border-taskbar: #0D74D4;
    --dark-blue: #368FE2;
    --light-blue: #B9DDFF;
    --transparent-blue: rgba(219, 231, 255, 0.493);
    --super-light-grey: #F1F1F1;
    --light-grey: #919191;
    --medium-grey: #656565;
    --dark-grey: #3A3A3A;
    --white: #FFFFFF;
    --black: #000000;

}

/*
==========                
Page Login            
==========
*/
#header-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.bubble {
    display: inline-block;
    font-size: 50px;
    animation: bubbleEffect 1s ease forwards;
}

@keyframes bubbleEffect {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }

}

#logo-home-screen {
    width: 269px;
    transition: transform 0.3s ease;
}

#logo-home-screen:hover {
    width: 269px;
    transform: scale(1.1);
}

#form-auth {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input-login {
    background-color: var(--white);
    padding: 15px 50px;
    width: 200px;
    margin: 5px;
    outline: none;
    border: 1px solid var(--white);
    border-radius: 25px;
}

.input-login,
.input-login::placeholder {
    color: var(--light-grey);
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.input-login::-ms-value {
    color: var(--light-blue);
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
}

#button-login {
    background-color: var(--dark-pink);
    border: 1px solid var(--dark-pink);
    padding: 15px 40px;
    margin-top: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: var(--white);
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

#button-login:hover {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    transform: scale(1.1);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(203, 224, 255, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(1px);
    color: var(--dark-pink);
    font-size: 16px;
    font-weight: bold;
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 2px;
}



/*
================             
Page Home Screen            
================
*/

#text-header-home-screen {
    background-color: var(--dark-pink);
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    color: var(--white);
    font-size: 12px;
    padding: 2px;
}

#main-home-screen {
    display: flex;
    justify-content: flex-start;
}

#windows-div-app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px 15px;
}

#windows-div-app>div {
    padding: 10px;
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

#windows-div-app>div:hover {
    background-color: var(--transparent-blue);
    border-color: var(--white);
    border-radius: 10px;
}

.windows_app {
    width: 62px;
}

.title-app {
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#footer-home-screen {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 auto 20px;
    border-top: 2px solid var(--border-taskbar)
}

#footer-button-windows {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#icon-windows {
    width: 30px;
    cursor: pointer;
}

#footer-windows-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;
    gap: 12px;
}


#icon-windows-options {
    width: 60px;
}

#clock {
    position: absolute;
    right: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    font-family: "Gabarito", sans-serif;
    text-align: right;
}



#windows-menu {
    background: var(--dark-blue);
    backdrop-filter: blur(12px);
    padding: 14px;
    border-radius: 16px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    box-shadow: 0px 4px 12px rgba(131, 131, 131, 0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.3s ease;
}

#windows-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#windows-menu button {
    display: block;
    font-size: 15px;
    width: 140px;
    color: var(--white);
    background: none;
    border: none;
    text-align: start;
    margin-bottom: 12px;
    padding: 6px 4px;
    transition: 0.25s ease;
    border-radius: 8px;
    cursor: pointer;
}


#windows-menu button:hover {
    color: var(--white);
    transform: translateX(4px);
}

#footer-button-info {
    position: absolute;
    right: 120px;
    bottom: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}

#footer-button-info:hover {
    transform: scale(1.15);
}

.info-row {
    font-size: 15px;
}

#footer-windows-options {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 400px;
    background: var(--dark-blue);
    backdrop-filter: blur(14px);
    border-radius: 14px;
    padding: 14px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(8px);
    transition: 0.28s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}



#footer-windows-options.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.info-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    font-size: 12px;
}

.link-credits {
    color: var(--dark-pink)
}


/*Tabs Style Global */
.tab-popup {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 678px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    border-top: none;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

.tab {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-pink);
    padding: 5px;
    border: 1px solid var(--dark-pink);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

.title-tab {
    color: white;
    font-size: 13px;
    font-weight: 900;
    padding-left: 30px;
}

.box-close-tab {
    display: flex;
    gap: 20px;
    margin-right: 5px;
}

.hidden {

    display: none !important;


}

.visible {
    display: block;
}

.fa-xmark {
    cursor: pointer;

}

.tab-content {
    height: 70vh;
    overflow: auto;
}

.tab-content>p {
    font-size: 12px;
    text-align: center;
    color: var(--black);
    font-weight: 900;
}




/* Animação para abrir */
@keyframes openWindow {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes closeWindow {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

@keyframes openFooter {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeFooter {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.tab-popup.opening {
    animation: openWindow 0.3s ease forwards;
}

.tab-popup.closing {
    animation: closeWindow 0.3s ease forwards;
}

.footer-tab.opening {
    animation: openFooter 0.3s ease forwards;
}

.footer-tab.closing {
    animation: closeFooter 0.3s ease forwards;
}



/* Tab Style - About Me*/
#about-me-tab>p {
    font-size: 12px;
    padding: 20px 30px;
    line-height: 20px;
    color: var(--medium-grey);
    font-weight: 400;
    white-space: pre-wrap;
}

/*Tab Style - Projects*/
.project {
    background-color: var(--super-light-grey);
    border-radius: 20px;
    margin: 30px 20px;
    padding: 10px 40px;
}

#title-project {
    display: flex;
    justify-content: space-between;
}

#title-project>a {
    font-size: 20px;
    padding-top: 5px;
}

.project>#title-project>h1 {
    font-size: 14px;
    color: var(--black);
}

.project>p {
    font-size: 12px;
    color: var(--medium-grey);
    line-height: 20px;
}

#project-img {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#project-img>img {
    border-radius: 5px;
    border: 1px solid var(--super-light-grey);
}

#project-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;

}

#project-info>p {
    font-size: 12px;
    font-weight: bold;
}


/*Tab Style - Education*/
#education-tab {
    height: 320px;
}

#box-education div:first-child {
    margin-top: 30px;
}

#box-education div:last-child {
    margin-bottom: 30px;
}

.education {
    background-color: var(--super-light-grey);
    border-radius: 20px;
    margin: 10px 20px;
    padding: 10px 40px;

}


.education>h1 {
    font-size: 14px;
    color: var(--black);
}

.education>h2 {
    font-size: 12px;
    color: var(--dark-grey);
}

.education>p {
    font-size: 12px;
    color: var(--medium-grey);
    line-height: 20px;
}

/*Tab Style - Linkedin */
#linkedin-tab {
    background-color: var(--super-light-grey);
}

#linkedin-tab>img {
    width: 100%;
}

#linkedin-tab>p {
    font-size: 12px;
    text-align: center;
    color: var(--black);
    font-weight: 900;

}

#linkedin-tab>p>a {
    color: var(--dark-pink);
}

/*Tab Style - GitHub*/

#github-tab {
    background-color: #010409;
}

#github-tab>img {
    width: 100%;
}

#github-tab>p {
    font-size: 12px;
    text-align: center;
    color: var(--white);
    font-weight: 900;

}

#github-tab>p>a {
    color: var(--dark-pink);
}

/*Tab Style - CV*/
#curriculum-tab {
    display: none;
}

/* Tab Style - WhatsApp*/

#whatsapp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.fa-whatsapp {
    color: green;
    font-size: 80px;
    margin-top: 50px;
}

#whatsapp-content>p {
    font-size: 14px;
    text-align: center;
    color: var(--black);
    font-weight: 900;
    margin-top: 20px;
}

#whatsapp-content>a {
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--white);
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 30px;
}


/* Tab Styles - Game*/
#mini-game-tab {
    width: 400px;
}

#game-over-screen {
    position: absolute;
    top: 1;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

#game-over-screen img {
    max-width: 300px;
    margin-bottom: 20px;
}

#game-over-screen button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--dark-pink);
    background-color: var(--light-pink);
    font-family: "Comfortaa", sans-serif;
    font-size: 13px;
    border: 1px solid var(--light-pink);
    font-weight: bold;
    transition: background-color 1.3s ease;
}

#game-over-screen button:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    transform: scale(1.1);

}

#windows-tab {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-left: 20px;
}


.v1,
.v2,
.v3 {
    padding: 5px 20px;
    border-radius: 5px;
}

.v1>p,
.v2>p,
.v3>p {
    padding-left: 30px;
    font-weight: bold;
    margin: 0 auto;
    font-size: 13px;
}

.v1 {
    background-color: var(--light-blue);
}

.v1>p {
    color: var(--dark-pink);
}

.v2 {
    background-color: var(--dark-pink);
}

.v2>p {
    color: var(--light-blue);
}

.v3 {
    background-color: var(--light-pink);
}

.v3>p {
    color: var(--dark-pink);
}


.info {
    color: var(--white);
    font-size: 12px;
}



.fa-phone:hover,
.fa-location-dot:hover,
.fa-at:hover,
.fa-circle-info:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 4px;
}

#overlay-shutdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(203, 224, 255, 0.493);
    color: var(--dark-pink);
    font-size: 16px;
    font-weight: bold;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
  }
  

  #overlay-sleep {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #00002e 30%, #000011 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 9999999;
    transition: opacity .7s ease;
    overflow: hidden;
  }
  
  #sleep-content {
    text-align: center;
    position: relative;
  }
  

  #moon {
    font-size: 4rem;
    animation: moonGlow 2s ease-in-out infinite alternate;
  }
  
  @keyframes moonGlow {
    from { text-shadow: 0 0 10px #ffe9b0, 0 0 20px #ffdd99; }
    to   { text-shadow: 0 0 25px #fff0c7, 0 0 40px #ffeb99; }
  }
  
  
  #particles {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
  }
  
  .particle {
    position:absolute;
    width:4px;
    height:4px;
    background:white;
    opacity:0.7;
    border-radius:50%;
    animation: floatUp linear infinite;
  }
  
  @keyframes floatUp {
    from { transform: translateY(20px); opacity: 0.0; }
    50%  { opacity: 0.5; }
    to   { transform: translateY(-200px); opacity: 0; }
  }
  

  #modal-config.hidden {
    display: none;
  }
  
  #modal-config {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(0,0,0,0.65);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:999999;
    animation: fadeIn .3s ease;
  }
  
  .modal-box {
    background: #ffffff;
    color: black;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px #000;
    width: 350px;
    display:flex;
    flex-direction:column;
    gap: 20px;
    animation: zoomIn .2s ease;
  }
  
  @keyframes fadeIn {
    from { opacity:0 }
    to { opacity:1 }
  }
  
  @keyframes zoomIn {
    from { transform:scale(.5) }
    to { transform:scale(1) }
  }
  
  body.dark {
    background: #0f0f14 !important;
    color: white !important;
  }
  
  .modal-box.dark {
    background: #1b1b22;
    color: white;
  }
  

  /*Credits*/


